@model UserManagement_MVC.Models.RegisterUserModel

@{
}

<h1>Register</h1>

<form name="registerForm" method="post" action="Register" class="mt-5">


    <div class="mb-3">
        <label for="" class="form-label">User Name</label>
        <input type="text" class="form-control" asp-for="UserName" required>  
    </div>

  <div class="mb-3">
    <label for="" class="form-label">First Name</label>
    <input type="text" class="form-control" asp-for="FirstName" required>  
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Last Name</label>
   <input type="text" class="form-control" asp-for="LastName" required>  
    <span style="color:red" asp-validation-for="LastName"></span>
  </div>

  @*<div class="mb-3">
    <label for="" class="form-label">Role</label>
    <input type="text" class="form-control" asp-for="Role" required >  
  </div>*@

  <div class="mb-3">
    <label asp-for="Email" class="form-label">Email Address</label>
    <input asp-for="Email" type="email" class="form-control" required >
    <span style="color:red" asp-validation-for="Email"></span>
  </div>

  <div class="mb-3">
    <label asp-for="Password" class="form-label">Password</label>
    <input asp-for="Password"  type="password" class="form-control" required >
    <span style="color:red" asp-validation-for="Password"></span>
  </div>

  <div class="mb-3">
    <label for="" class="form-label" >Role</label>
    <select name="Role" class="form-control" id="Role" asp-for="Role" required>
         <option value="" disabled selected hidden> Select Role</option>
         <option value="Admin" >Admin</option>
         <option value="User" >User</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

